.main {
  @include main-container;
  height: 100vh;
  margin: 56px 64px 0 0;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 24px;
  position: relative;
}

.cell {
  // background-color: lightgray; 
  width: 100%;
  border-radius: $border-radius-s;
}