@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  @include flex-column-container;
  border: $border-white;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: 127px;
  max-height: 600px;
  gap: 8px;
  margin: 0;
  cursor: pointer;
  box-shadow: $items-shadow;
  &_mini {
    height: 100%;
    width: 100%;
    cursor: move;
    animation: fadeIn 0.5s ease forwards;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.nameContainer {
  display: flex;
  gap: 16px;
}

.countContainer {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin: auto 0 0;
}

.mainContainer {
  @include flex-column-container;
  width: 100%;
  max-width: 188px;
}

.buttonsContainer {
  color: $button-focus;
  display: flex;
  gap: 8px;
  &disabled {
    display: none !important;
    color: red;
    width: 100px;
  }
}

.button {
  cursor: pointer;
}

.title {
  @include mp-null;
  @include use-font;
  @include cut-word;
}

.img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.name {
  @include mp-null;
  @include use-font(14px, 17px, 500);
  @include cut-word;
  white-space: wrap;
}

.position {
  @include mp-null;
  @include use-font(14px, 17px, 400);
  @include cut-word;
  color: $main-text-grey;
  &_miniPosition {
    color: $main-text-black;
    white-space: wrap;
  }
}

.count {
  @include mp-null;
  @include use-font(14px, 17px, 500);
  @include cut-word;
  color: $main-text-grey;
  white-space: wrap;
}

.countImg {
  cursor: pointer;
  color: $main-text-grey;
  display: flex;
}

.miniContainer {
  gap: 4px;
}

.disabled {
  display: none;
}

.miniName {
  @include use-font(16px, 19px);
}

.noMove {
  cursor: not-allowed;
  user-select: none;
  background: $dissabled;
  box-shadow: none;
}

.noMoveColor {
  color: $dissabled-color;
}
