.card {
  @include flex-column-container;
  border: $border-white;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: 127px;
  max-height: 600px;
  gap: 8px;
  margin: 0;
  // cursor: pointer;
  box-shadow: $items-shadow;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.nameContainer {
  display: flex;
  gap: 16px;
}

.countContainer {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.mainContainer {
  @include flex-column-container;
  width: 100%;
}

.edit {
  cursor: pointer;
  color: $button-focus;
  &disabled {
    display: none !important;
    color: red;
    width: 100px;
  }
}

.title {
  @include mp-null;
  @include use-font;
  @include cut-word;
}

.img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.name {
  @include mp-null;
  @include use-font(14px, 17px, 500);
  word-wrap: normal;
}

.position {
  @include mp-null;
  @include use-font(14px, 17px, 400);
  @include cut-word;
  color: $main-text-grey;
}

.count {
  @include mp-null;
  @include use-font(14px, 17px, 500);
  @include cut-word;
  color: $main-text-grey;
}

.countImg {
  cursor: pointer;
  color: $main-text-grey;
  display: flex;
}

.mini {
  height: 82px;
  width: 100%;
  cursor: move;
}

.miniContainer {
  gap: 4px;
}

.disabled {
  display: none;
}

.miniName {
  @include use-font(16px, 19px);
}

.miniPosition {
  color: $main-text-black;
}

.noMove {
  cursor: not-allowed;
  user-select: none;
  background: $dissabled;
  box-shadow: none;
}

.noMoveColor {
  color: $dissabled-color;
}