// COLORS
$main-white: #F5F5F5;
$button: #33B1FF;
$button-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

// FONTS
$font-family: 'Roboto', sans-serif;

// SIZES
// $max-width-min: 1480px;
$max-width: 1420px;
// $border-radius: 6px;
// $border-radius-s: 10px;
// $border-radius-m: 20px;

// PADDING/MARGIN/GAP
// $padding-lr: 80px;
// $cl-gap-l: 32px;
// $cl-gap-m: 109px;
// $row-gap-l: 24px;
