.card {
  @include flex-column-container;
  border: $border-white;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: 127px;
  max-height: 600px;
  gap: 8px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.nameContainer {
  display: flex;
  gap: 16px;
}

.countContainer {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.edit {
  cursor: pointer;
  color: $button-focus;
}

.title {
  @include mp-null;
  @include use-font;
  @include cut-word;
}

.img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.name {
  @include mp-null;
  @include use-font(14px, 17px, 500);
  word-wrap: normal;
}

.position {
  @include mp-null;
  @include use-font(14px, 17px, 400);
  @include cut-word;
  color: $main-text-grey;
}

.count {
  @include mp-null;
  @include use-font(14px, 17px, 500);
  @include cut-word;
  color: $main-text-grey;
}

.countImg {
  cursor: pointer;
  color: $main-text-grey;
  display: flex;
}
