.header {
  @include main-container;
  height: 96px;
  padding: 16px calc((100vw - 1312px) / 2);
  display: flex;
  justify-content: space-between;
  box-shadow: $header-box-shadow;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.input {
  border: $border-white;
  border-radius: $border-radius-s;
  padding: 6px 24px;
  width: 315px;
  height: 32px;
  box-shadow: $items-shadow;
  
  &_dissabled {
    display: none;
  }
}

.headerIcon {
  border-radius: $border-radius;
  box-shadow: $items-shadow;
  display: flex;
  justify-content: center;
  background: $button;
  width: 32px;
  height: 32px;

  &_dissabled {
    display: none;
  }
}
