.sideBar {
  border: $border-white;
  border-radius: $border-radius-xl;
  margin: 56px 48px 20px;
  padding: 24px;
  width: 316px;
  height: 388px;
  @include flex-column-container;
  align-items: center;
  gap: 40px;
  transition: width 0.3s ease;

  &_short {
    width: 128px;
    transition: width 0.3s ease;
  }
}

.list {
  @include mp-null-list;
  @include flex-column-container;
  gap: 4px;
  max-width: 268px;
}

.item {
  display: flex;
  gap: 10px;
  padding: 11px 24px;
  height: 40px;
  border-radius: $border-radius-s;
  cursor: pointer;
  width: 100%;

  &_grey {
    background: $main-grey;
  }

  &_active {
    background: $button-active;
  }

  &_short {
    justify-content: center;
    width: inherit;
  }
}

.text {
  @include mp-null;
  @include use-font;
  @include user-highlighting;
  word-break: normal;
  overflow: hidden;
  display: flex;
  gap: 76px;

  &_short {
    display: none;
  }
}

.sideBarButton {
  @include use-font(14px, 16.8px, 400);
  background: $button;
  box-shadow: $items-shadow;
  text-shadow: $items-shadow;
  gap: 8px;
  border-radius: $border-radius;
  padding: 0px 16px;
  width: 106px;
  height: 32px;
  color: $main-white !important;
  border: none;
  outline: none;
  transition: width 0.3s ease;

  &_short {
    width: 32px;
    span:first-of-type {
      display: none;
      transition: width 0.3s ease;
    }
  }
  &:hover {
    background: $button-hover !important;
  }
  &:focus {
    background: $button-focus;
  }
}

.arrow {
  &_short {
    display: none;
  }
}

.link {
  @include link-null;
  color: $main-text-black;
  display: flex;
}

.button {
  @include use-font(14px, 16.8px, 400);
  background: $button;
  box-shadow: $items-shadow;
  text-shadow: $items-shadow;
  gap: 8px;
  border-radius: $border-radius;
  padding: 0px 16px;
  width: 106px;
  min-height: 32px;
  color: $main-white !important;
  border: none;
  outline: none;
  transition: width 0.3s ease;
  margin: 0 auto;
  &_none {
    display: none;
  }
  &_mini {
    width: 32px;
    padding: 0px 9px;
  }
  &:hover {
    background: $button-hover !important;
  }
  &:focus {
    background: $button-focus;
  }
}

.none {
  display: none !important;
}

.sideBarWrapper {
  @include flex-column-container;
}
